<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<title>Index</title>
</head>
<body>
	<div class="container-fluid"></div>
		<div class="row">
			<div class="col-md-12">Conquer Cities with Alexander the Great</div>
		</div>
		<div class="row"></div>
		<div class="row">
			<div class="col-md-12"><button class="btn btn-primary" id="worldmap">World Map</button></div>
			<div class="col-md-12"><button class="btn btn-primary" id="scout">Start as a Scout</button></div>
			<div class="col-md-12"><button class="btn btn-danger" onclick="window.close();">Exit</button></div>
		</div>
</body>
</html>