{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
	{{ super() }}
  	<script src="{{ url_for('static', filename = 'index.js') }}"></script>
	<style>
		body{
			font-family: 'Times New Roman', 'Open Sans', 'Helvetica Neue', sans-serif;
		}
		.headline{
			font-weight: bold;
			color: white;
			font-size: 45px;
		}
		.caption{
			padding-left: 300px;
			padding-right: 300px;
			text-align: center;
			color: white;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.subtitle{
			font-size: 25px;
		}
		.fix-width{
			width: 200px;
		}
		.bg4{
			background:
		        /* top, transparent black, faked with gradient */ 
		        linear-gradient(
		          rgba(0, 0, 0, 0.6), 
		          rgba(0, 0, 0, 0.6)
		        ),
		        /* bottom, image */
		        url('{{ url_for('static', filename = 'intro4.jpg') }}');
		    width: 100%;
		    height: 100vh;
			background-size: 100%;
		}
		.displaybg{
			display: block;
		}
	</style>
{% endblock %}
{% block content %}
								
		<div class="row">
			<div class='col-md-12 bg4'>
				<div class="row m-3">
					<div class="col-md-12 p-3 text-center headline">Conquer Cities with Alexander the Great</div>
				</div>
				<div class="row m-3">
					<div class="col-md-12 p-2 text-center"><button class="btn btn-warning fix-width" id="worldmap">World Map</button></div>
					<!-- <div class="col-md-12 p-2 text-center"><button class="btn btn-warning fix-width" id="scout">Quiz</button></div> -->
				</div>
				<div class="caption">
					<div class="row m-1">
						<div class="col-md-12 p-1 subtitle"><b>Who is Alexander the Great?</b></div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 p-1">He was a king of a small Greek country called Kingdom of Macedon</div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 p-1 subtitle"><b>Why he is "great"?</b></div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 p-1">By the age of thirty he had created one of the largest empires of the ancient world, stretching from Greece to northwestern India</div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 p-1 subtitle"><b>What's the impact of his expedition?</b></div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 p-1">His expedition was bloody and cruel but it also promoted cultural diffusion and syncretism between the west and middle east in third century BC</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}