{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
	{{ super() }}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{ url_for('static', filename = 'scoutjq.js') }}"></script>
<!--   <script src="../static/question.json"></script> -->
  <script>
  	var score = {{score}}
  	var page = {{page}}
  </script>

  <style>
	body {
		font-family: 'Times New Roman', 'Open Sans', 'Helvetica Neue', sans-serif;
		margin:0;
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background-image: url('{{ url_for('static', filename = 'bgmap.jpg') }}');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ancientcolor{
		background-color: white;
	}
	.headline{
		font-size: 24px;
		font-weight: bold;
	}
	.question{
		font-size: 24px;
	}
	.op{
		width: 150px;
	}
	.textgreen{
		color: green;
	}
	.red{
		background-color: red !important;
	}
	.green{
		background-color: green !important;
	}
	.textred{
		color: red;
	}
	.conseal{
		display: none;
	}
	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 20px;
	  border: 1px solid #888;
	  width: 60%;
	}
	.display{
		display: block;
	}
  </style>
{% endblock %}
{% block content %}

		<!-- The Modal -->
		<div class="modal" id="modal0">
			<div class="modal-content">
				<div class="row text-center">
					<div class="col-md-12 p-1">
						<h1 class="textgreen">Congratulations!</h1>
					</div>
					<div class="col-md-12 p-1">
						<p>You successfully gathered the important intelligence for Alexander's army.</p>
					</div>
					<div class="col-md-12 p-1">
						<button type="button" class="btn btn-warning homepage">Homepage</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="modal1">
			<div class="modal-content">
				<div class="row text-center justify-content-md-center">
					<div class="col-md-12 p-2">					
						<h1 class="textred">Failure!</h1>
					</div>
					<div class="col-md-12 p-2">	
						<p>The information you gather is not accurate enough, please try again.</p>
					</div>
					<div class="col-md-3 p-2">
						<button type="button" class="btn btn-warning" id="retake">Retake the quiz</button>
					</div>
					<div class="col-md-3 p-2">
						<button type="button" class="btn btn-warning" id="review">Review the map</button>
					</div>
					<div class="col-md-3 p-2">
						<button type="button" class="btn btn-primary homepage">Homepage</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-md-3 p-0">
				<div class="ancientcolor">
					<div class="row m-1">
						<div class="col-md-12 p-2 border-bottom border-dark text-center headline" id="cityname"></div>
					</div>
					<div class="row m-1">
						<div class="col-md-12 px-2 border-bottom border-dark text-center question" id="question">Q: </div>
					</div>
					<div class="row m-1 text-center" id="options">
						<div class="col-md-12 p-1"><button type="button" class="btn btn-primary btn-sm op" id="op1"></button></div>
						<div class="col-md-12 p-1"><button type="button" class="btn btn-primary btn-sm op" id="op2"></button></div>
						<div class="col-md-12 p-1"><button type="button" class="btn btn-primary btn-sm op" id="op3"></button></div>
						<div class="col-md-12 p-1 border-bottom border-dark"><button type="button" class="btn btn-primary btn-sm op" id="op4"></button></div>
					</div>
					<div class="row m-1 text-center">
						<div class="col-md-12 p-2" id="score"><b>Score: </b></div>
					</div>
				</div>
				<div class="row" id="sub-btn">
					<div class="col-md-12"><button type="button" class="btn btn-primary btn-lg btn-block" id="next">Next Question</button></div>
				</div>
			</div>
			<div class="col-md-9">
				<svg></svg>
			</div>
		</div>

	<div id="dialog-confirm" class="conseal" title="Want to leave now?">
		<p>Go back to homepage</p>
	</div>
	<script src="../static/scout.js"></script>
{% endblock %}